VITE_SUPABASE_URL=https://ktomujtqkitctdoznbmp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0b211anRxa2l0Y3Rkb3puYm1wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1NzE2MjEsImV4cCI6MjA5MTE0NzYyMX0.ke3fL_Pp4Es0iRpT4redsj8ueDDis1K56gx0xGjS-wY
VITE_SUPABASE_TENANT_SLUG=ingeanclajes